[run]
branch = True
source_pkgs = toga
omit =
    **/__init__.py

[paths]
# Paths which may contain the packages listed in source_pkgs. The first path will be used
# to generate the filenames in the report.
source =
    src/core/src
    **/site-packages

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    @(abc\.)?abstractmethod