{
    // Use JS Standard format...
    extends: "standard",

    // ...except for...
    rules: {
        // 4 space indent, plus indented case statements in switch
        indent: ["error", 4, {
            SwitchCase: 1
        }],

        // camelcase is needed for Python compatibility
        camelcase: ["off"],

        // function () is Just Wrong
        space-before-function-paren: ["error", "never"],

        // Disable ES6 style string interpolation in fixes
        quotes: ["error", "single", {
            avoidEscape: true,
            allowTemplateLiterals: false
        }],

        // Disallow ternary operators
        no-ternary: "error"
    }
}