build/*
demo/**/django/*
dist/*
docs/*
examples/**/django/*
src/android/*
src/cocoa/*
src/core/*
src/curses/*
src/django/node_modules/*
src/dummy/*
src/flask/*
src/gtk/*
src/iOS/*
src/pyramid/*
src/qt/*
src/tvOS/*
src/uwp/*
src/watchOS/*
src/web/*
src/win32/*
src/winforms/*
