*.pyc
*~
.*.sw[op]
*.egg-info
.eggs
.coverage
dist
build
_build
distribute-*
docs/env
local
venv
.idea
Pipfile*
.tox
node_modules
README.md
src/django/toga.js
src/django/toga.min.js
src/django/toga.js.map
src/django/toga.min.js.map
src/gtk/gi
src/gtk/pygtkcompat
src/gtk/cairo
.DS_Store
pip-selfcheck.json
pyvenv.cfg
.vscode
bin/
lib/

# Exclude briefcase packages from the examples dir.
examples/*/macOS/
examples/*/iOS/
examples/*/linux/
examples/*/android/
examples/*/django/
examples/*/windows/

