*.pyc
*~
.*.sw[op]
.coverage
_build
distribute-*
docs/env
local
README.md
src/django/toga.js
src/django/toga.min.js
src/django/toga.js.map
src/django/toga.min.js.map
src/gtk/gi
src/gtk/pygtkcompat
src/gtk/cairo
.DS_Store
pip-selfcheck.json
pyvenv.cfg
bin/
lib/

# Exclude briefcase packages from the examples dir.
examples/*/macOS/
examples/*/iOS/
examples/*/linux/
examples/*/android/
examples/*/django/
examples/*/windows/

# Editor configs
.vscode/
.idea/

# Compiled dependencies
node_modules/

# Lock files
Pipfile.lock

# Build/packaging files
*.pyc
*.egg-info/
.eggs/
dist/
build/

# Tests outputs
.tox/

# Virtual environments
venv/
.env/
