*.pyc
*~
.*.sw[op]
*.egg-info
.coverage
dist
build
_build
distribute-*
local
.tox
node_modules
README.md
src/django/toga.js
src/django/toga.min.js
src/django/toga.js.map
src/django/toga.min.js.map
src/gtk/gi
src/gtk/pygtkcompat
.DS_Store
