exclude: "^(attic|examples/.template|nursery)/"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: check-case-conflict
      - id: check-docstring-first
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    # For split_on_trailing_comma. Should be in the release after 5.10.1
    rev: 5.12.0
    hooks:
      - id: isort
        additional_dependencies: [toml]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  # Docformatter is RST-unaware, and may break markup by inserting or removing newlines
  # (see https://github.com/PyCQA/docformatter/issues/124 and linked issues). Until this
  # is fixed, it's not safe to run it automatically.
  # - repo: https://github.com/myint/docformatter
  #   rev: v1.5.0
  #   hooks:
  #   - id: docformatter
  #     args: [--in-place]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
