[tool.codespell]
skip = ".git,*.pdf,*.svg"
# the way to make case sensitive skips of words etc
ignore-regex = "\bNd\b"
ignore-words-list = "te,crate,re-use,MapPin"

# The coverage settings in this file only control `coverage report`. `coverage run` and
# `coverage combine` are controlled by the pyproject.toml files in each package's
# subdirectory.
#
# In each subdirectory's pyproject.toml, we use both of the following settings:
#   * `source_pkgs`: detects the given packages no matter where they're imported from.
#   * `source`: detects all files in the given directory, including files that are
#      never imported by the tests.
#
# When running through `tox`, this will produce duplicate entries which must be merged
# with `coverage combine`.

[tool.coverage.run]
plugins = ["coverage_conditional_plugin"]
relative_files = true

[tool.coverage.report]
show_missing = true
skip_covered = true
skip_empty = true
precision = 1
exclude_lines = [
    "pragma: no cover",
    "@(abc\\.)?abstractmethod",
    "NotImplementedError\\(\\)",
    "if TYPE_CHECKING:",
    "class .+?\\(Protocol.*\\):",
    "@overload",
]

[tool.coverage.coverage_conditional_plugin.rules]
# Additional testbed rules are configured in the testbed module
no-cover-if-missing-setuptools_scm = "not is_installed('setuptools_scm')"
no-cover-if-missing-PIL = "not is_installed('PIL')"
no-cover-if-PIL-installed = "is_installed('PIL')"
no-cover-if-lt-py311 = "sys_version_info < (3, 11) and os_environ.get('COVERAGE_EXCLUDE_PYTHON_VERSION') != 'disable'"
no-cover-if-gte-py311 = "sys_version_info > (3, 11) and os_environ.get('COVERAGE_EXCLUDE_PYTHON_VERSION') != 'disable'"
no-cover-if-lt-py310 = "sys_version_info < (3, 10) and os_environ.get('COVERAGE_EXCLUDE_PYTHON_VERSION') != 'disable'"
no-cover-if-gte-py310 = "sys_version_info > (3, 10) and os_environ.get('COVERAGE_EXCLUDE_PYTHON_VERSION') != 'disable'"

[tool.ruff]
exclude = [
    ".template",  # Ruff fails to run at all if allowed to lint the cookiecutter syntax
    "core/src/toga/__init__.pyi"
]

[tool.ruff.lint]
# In addition to the default rules, these additional rules will be used:
extend-select = [
    "E",      # pycodestyle
    "W",      # pycodestyle
    "F",      # pyflakes
    "UP",     # pyupgrade
    "B",      # flake8-bugbear
    "SIM",    # flake8-simplify
    "YTT",    # flake8-2020
    "ASYNC",  # flake8-async
    "C4",     # flake8-comprehensions
    "I",      # isort
]

# Below is a list of ignored rules.  Many (if not all) of these have been disabled
# to facilitate a smooth transition from tools like black and isort to ruff, where
# instances of these errors were caught.  Many if not all of these are candidates
# for future fixes throughout the project.
ignore = [
    "E501",      # line length
    "B007",      # loop control variable not used
    "B015",      # pointless comparison
    "B018",      # useless expression
    "B019",      # memory leaks from functools.lru_cache / functools.cache
    "B023",      # Function definition does not bind loop variable
    "B024",      # abstract base class without abstract methods / properties
    "B027",      # empty method in abstract base class
    "B904",      # use raise ... from ...
    "SIM102",    # combine if statements
    "SIM103",    # return condition directly
    "SIM105",    # use contextlib.suppress() instead of try-except-pass
    "SIM108",    # use ternary operators
    "SIM115",    # use context manager for opening files
    "SIM117",    # combine with statements
    "SIM118",    # use "key in dict" instead of "key in dict.keys()"
    "SIM201",    # use "x != y" instead of "not x == y"
    "SIM300",    # Yoda condition (0 != x)
    "SIM905",    # use list literal instead of str.split()
    "C400",      # unnecessary generator
    "C408",      # use dict literal instead of dict()
    "C414",      # unnecessary list() use within sorted()
    "C416",      # unnecessary list comprehension
    "F405",      # variable may be undefined
    "UP031",     # use format specifiers instead of percent format
    "UP032",     # use f-string instead of "format" call
    "ASYNC110",  # use "asyncio.Event" instead of awaiting "asyncio.sleep" in "while"
]


[tool.towncrier]
directory = "changes"
package = "toga"
package_dir = "core/src"
filename = "docs/background/project/releases.rst"
title_format = "{version} ({project_date})"
issue_format = "`#{issue} <https://github.com/beeware/toga/issues/{issue}>`__"
template = "changes/template.rst"
type = [
    { directory = "feature", name = "Features", showcontent = true },
    { directory = "bugfix", name = "Bugfixes", showcontent = true },
    { directory = "removal", name = "Backward Incompatible Changes", showcontent = true },
    { directory = "doc", name = "Documentation", showcontent = true },
    { directory = "misc", name = "Misc", showcontent = false },
]

[tool.setuptools_scm]
# We're not doing anything Python-related at the root level of the repo, but if this
# declaration isn't here, tox commands run from the root directory raise a warning that
# pyproject.toml doesn't contain a setuptools_scm section.
