<html>
    <head>
        <title>{formal_name}</title>
        <link rel="stylesheet" href="./positron.css" type="text/css">
    </head>
    <body>
        <h1>{formal_name}</h1>
        <button id="my-button">Do something</button>
        <div id="output"></div>
        <script type="module" src="/@microdriver/bootstrap.js" micropython="/main.py"></script>
    </body>
</html>
