<html>
    <head>
        <title>{formal_name}</title>
        <link rel="stylesheet" href="./positron.css" type="text/css">
        <link rel="stylesheet" href="https://pyscript.net/releases/2026.1.1/core.css" />
        <script type="module" src="https://pyscript.net/releases/2026.1.1/core.js"></script>
    </head>
    <body>
        <h1>{formal_name}</h1>
        <button id="my-button">Do something</button>
        <div id="output"></div>
        <script type="py" config="./pyscript.toml" src="./main.py"></script>
    </body>
</html>
