import sys
from types import ModuleType


if __name__ == "__main__":
    # Install a mock multiprocessing binary module on iOS
    # This is required to import uvicorn, even if multiprocessing isn't used at runtime.
    # It must be done *before* uvicorn is imported.
    if sys.platform == "ios":
        _mp_override = ModuleType("_multiprocessing")
        sys.modules["_multiprocessing"] = _mp_override

    # Import the app and start it.
    from {{{{ cookiecutter.module_name }}}}.app import main

    main().main_loop()
