{% extends 'toga/base.html' %}
{% block title %}{{ app.main_window.title }}{% endblock %}
{% block bytecode %}
        <script id="batavia-toga" type="application/python-bytecode">
{{ toga }}
        </script>
        <script id="batavia-bootstrap" type="application/python-bytecode">
{{ bootstrap }}
        </script>
    {% for name, payload in callbacks.items %}
        <script id="batavia-{{ name }}" type="application/python-bytecode">
{{ payload }}
        </script>
    {% endfor %}
{% endblock %}
{% block content %}
        {{ app }}

        <hr>
        <pre id="stdout"></pre>

        <script>
        {% for window in app.windows %}
            window.open('${{ window.id }}/', '_blank', 'location=yes,height={{ window.width }},width={{ window.height }},scrollbars=yes,status=no');
        {% endfor %}
        </script>
{% endblock %}
