{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{% block title %}{{ app.main_window.title }}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'components-font-awesome/css/font-awesome.min.css' %}">
        <style>
            body {
                padding-top: 5rem;
            }
        </style>
{% block bytecode %}
{% endblock %}
    </head>
    <body>
{% block content %}
{% endblock %}
    </body>
</head>
