/**********************************************************************
 * Main page
 **********************************************************************/

* {
    box-sizing: border-box;
    line-height: 1;
}

html, body {
    height: 100%;
    margin: 0;
}

/* If a custom element hasn't been defined yet, hide it from rendering */
:not(:defined) {
    visibility: hidden;
}

/**********************************************************************
 * Application header
 **********************************************************************/

header.toga {
    background-color: var(--sl-color-primary-800);
    color: var(--sl-color-neutral-50);
    display: flex;
    flex-direction: row;
    align-items: center;
}

/***** App branding logo **********************************************/

header.toga a.brand {
    margin: 8px 1em;
}

header.toga a.brand img {
    width: 32px;
}

header.toga nav {
    display: inline-block;
}

header.toga nav.menubar {
    flex-grow: 1;
    font-family: var(--sl-font-sans);
    font-size: var(--sl-font-size-large);
}

header.toga nav.menubar:last-of-type {
    flex-grow: 0;
    padding-right: 1em;
}

/***** Menubar ********************************************************/

header.toga nav.menubar .menu {
    color: var(--sl-color-neutral-200);
    padding: 0.5em;
}

header.toga nav.menubar .menu:hover {
    background-color: var(--sl-color-primary-700);
    color: var(--sl-color-primary-300);
}

header.toga nav.menubar .app {
    color: var(--sl-color-neutral-50);
    font-weight: var(--sl-font-weight-bold);
}

/**********************************************************************
 * Main window
 **********************************************************************/

main.toga.window {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main.toga.window > .container {
    /* The immediate container descendents of the window must expand
       to fill the full width of the window. */
    flex-grow: 1 !important;
}

/**********************************************************************
 * Widgets
 **********************************************************************/

/***** All containers *************************************************/

.toga .container {
    display: flex;
}

/***** Label **********************************************************/
.toga .label {
    white-space: nowrap;
}
