include CONTRIBUTING.md
include LICENSE
include README.rst
include tox.ini
recursive-include tests *.py
include tests/testbed/installed.dist-info/INSTALLER
include tests/testbed/installed.dist-info/METADATA
