[build-system]
requires = [
    "setuptools==75.8.2",
    "setuptools_scm==8.2.0",
    "setuptools_dynamic_dependencies==1.0.0",
]
build-backend = "setuptools.build_meta"

[project]
dynamic = ["version", "dependencies"]
name = "toga-core"
description = "A Python native, OS native GUI toolkit."
readme = "README.rst"
requires-python = ">= 3.9"
license.text = "New BSD"
authors = [
    {name="Russell Keith-Magee", email="russell@keith-magee.com"},
]
maintainers = [
    {name="BeeWare Team", email="team@beeware.org"},
]
keywords = [
    "gui",
    "widget",
    "cross-platform",
    "toga",
    "desktop",
    "mobile",
    "web",
    "macOS",
    "cocoa",
    "iOS",
    "android",
    "windows",
    "winforms",
    "linux",
    "freeBSD",
    "gtk",
    "console",
    "web",
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Software Development",
    "Topic :: Software Development :: User Interfaces",
    "Topic :: Software Development :: Widget Sets",
]

[project.optional-dependencies]
# Extras used by developers *of* Toga are pinned to specific versions to
# ensure environment consistency.
dev = [
    "coverage[toml] == 7.6.12",
    "coverage-conditional-plugin == 0.9.0",
    "Pillow == 11.1.0",
    "pre-commit == 4.1.0",
    "pytest == 8.3.5",
    "pytest-asyncio == 0.25.3",
    "pytest-freezer == 0.4.9",
    "setuptools-scm == 8.2.0",
    "tox == 4.24.1",
    # typing-extensions needed for TypeAlias added in Py 3.10
    "typing-extensions == 4.12.2 ; python_version < '3.10'",
]
# Docs are always built on a specific Python version; see RTD and tox config files,
# and the docs contribution guide.
docs = [
    "furo == 2024.8.6",
    "Pillow == 11.1.0",
    "pyenchant == 3.2.2",
    "sphinx == 8.2.1",
    "sphinx_tabs == 3.4.5",
    "sphinx-autobuild == 2024.10.3",
    "sphinx-csv-filter == 0.4.2",
    "sphinx-copybutton == 0.5.2",
    "sphinx-toolbox == 3.9.0",
    "sphinxcontrib-spelling == 8.0.1",
]

[project.urls]
Homepage = "https://beeware.org/project/projects/libraries/toga/"
Funding = "https://beeware.org/contributing/membership/"
Documentation = "https://toga.readthedocs.io/"
Tracker = "https://github.com/beeware/toga/issues"
Source = "https://github.com/beeware/toga"
Changelog = "https://toga.readthedocs.io/en/stable/background/project/releases.html"

[project.entry-points."toga.image_formats"]
pil = "toga.plugins.image_formats.PILConverter"

[tool.setuptools_scm]
root = ".."

[tool.setuptools_dynamic_dependencies]
dependencies = [
    "travertino == {version}",
]

[tool.coverage.run]
parallel = true
branch = true
relative_files = true

# See notes in the root pyproject.toml file.
source = ["src"]
source_pkgs = ["toga"]

[tool.coverage.paths]
source = [
    "src/toga",
    "**/toga",
]

[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"
filterwarnings = [
    "error",
]
