[build-system]
requires = ["briefcase"]

[tool.briefcase]
project_name = "{{ cookiecutter.formal_name }}"
bundle = "org.beeware"
version = "0.3.0.dev35"
url = "https://beeware.org"
license = "BSD license"
author = 'Tiberius Yak'
author_email = "tiberius@beeware.org"

[tool.briefcase.app.{{ cookiecutter.name }}]
formal_name = "{{ cookiecutter.formal_name }}"
description = "A testing app"
sources = ['{{ cookiecutter.name }}']
requires = [
    '../../src/core',
]


[tool.briefcase.app.{{ cookiecutter.name }}.macOS]
requires = [
    '../../src/cocoa',
    'std-nslog>=1.0.0',
]

[tool.briefcase.app.{{ cookiecutter.name }}.linux]
requires = [
    '../../src/gtk',
]

[tool.briefcase.app.{{ cookiecutter.name }}.windows]
requires = [
    '../../src/winforms',
]

# Mobile deployments
[tool.briefcase.app.{{ cookiecutter.name }}.iOS]
requires = [
    '../../src/iOS',
    'std-nslog>=1.0.0',
]

[tool.briefcase.app.{{ cookiecutter.name }}.android]
requires = [
    '../../src/android',
]
