[build-system]
requires = ["briefcase"]

[tool.briefcase]
project_name = "{{ cookiecutter.formal_name }}"
bundle = "org.beeware.toga.examples"
version = "0.0.1"
url = "https://beeware.org"
license.file = "LICENSE"
author = 'Tiberius Yak'
author_email = "tiberius@beeware.org"

[tool.briefcase.app.{{ cookiecutter.name }}]
formal_name = "{{ cookiecutter.formal_name }}"
description = "A testing app"
sources = ['{{ cookiecutter.name }}']
requires = [
    '../../core',
]


[tool.briefcase.app.{{ cookiecutter.name }}.macOS]
requires = [
    '../../cocoa',
    'std-nslog>=1.0.0',
]

[tool.briefcase.app.{{ cookiecutter.name }}.linux]
requires = [
    '../../gtk',
]

[tool.briefcase.app.{{ cookiecutter.name }}.windows]
requires = [
    '../../winforms',
]

# Mobile deployments
[tool.briefcase.app.{{ cookiecutter.name }}.iOS]
requires = [
    '../../iOS',
    'std-nslog>=1.0.0',
]

[tool.briefcase.app.{{ cookiecutter.name }}.android]
requires = [
    '../../android',
]

base_theme = "Theme.MaterialComponents.Light.DarkActionBar"

build_gradle_dependencies = [
    "com.google.android.material:material:1.11.0",
    "androidx.swiperefreshlayout:swiperefreshlayout:1.1.0",
]

# Web deployment
[tool.briefcase.app.{{ cookiecutter.name }}.web]
requires = [
    "../../web",
]
style_framework = "Shoelace v2.3"
