# Include everything in the WebView2 folder first
recursive-include src/toga_winforms/libs/WebView2
# Explicitly exclude unwanted WebView2 architectures
recursive-exclude src/toga_winforms/libs/WebView2/runtimes/win-arm64 *
recursive-exclude src/toga_winforms/libs/WebView2/runtimes/win-x86 *

include src/toga_winforms/resources/*

# Exclude potential build artifacts and unwanted directories
global-exclude *.pyc
global-exclude __pycache__
recursive-exclude *.egg-info *
