copyright: © Russell Keith-Magee

not_in_nav: index.md

validation:
  omitted_files: warn
  absolute_links: relative_to_docs
  anchors: warn
  unrecognized_links: warn

extra:
  project_name: toga
  package_name: toga-core
  formal_name: Toga
  min_python_version: "3.10"  # The oldest supported Python version
  min_python_version_tag: "310"  # The tag version of the minimum python version
  recent_python_version: "3.13"  # The newest Python version known to work on all platforms
  docs_python_version: "3.13"  # The version of Python required to build the documentation
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/beeware
      name: BeeWare on GitHub
    - icon: fontawesome/brands/mastodon
      link: https://fosstodon.org/@beeware
      name: BeeWare on Mastodon
    - icon: fontawesome/brands/discord
      link: https://beeware.org/bee/chat/
      name: BeeWare on Discord
  "beta_support": ^&beta;^
  "not_supported": ^&#x274C;^
  "fully_supported": ●
  "partly_supported": ○
  generator: false

extra_css:
  - stylesheets/toga.css

theme:
  name: material
  language: en
  logo: images/toga.png
  favicon: images/toga.png
  features:
    - content.tabs.link
    - toc.follow
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.footer
    - search.suggest
    - search.highlight
    - search.share
  custom_dir: overrides
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
  # PyMdown Extensions
  pymdownx.caret: {}
  pymdownx.highlight: {}
  pymdownx.superfences: {}
  pymdownx.blocks.caption: {}
  pymdownx.blocks.admonition:  # Enables admonitions.
    types:
      - note
      - abstract
      - info
      - tip
      - success
      - question
      - warning
      - failure
      - danger
      - bug
      - example
      - quote
  pymdownx.blocks.details:  # Enables collapsible content.
    types:
      - {name: details-note, class: note}
      - {name: details-abstract, class: abstract}
      - {name: details-info, class: info}
      - {name: details-tip, class: tip}
      - {name: details-success, class: success}
      - {name: details-question, class: question}
      - {name: details-warning, class: warning}
      - {name: details-failure, class: failure}
      - {name: details-danger, class: danger}
      - {name: details-bug, class: bug}
      - {name: details-example, class: example}
      - {name: details-quote, class: quote}
  pymdownx.magiclink:  # Among other things, enables GitHub shorthand references.
    provider: "github"
    user: "beeware"
    repo: "toga"
    repo_url_shortener: true
    repo_url_shorthand: true
    normalize_issue_symbols: true
  pymdownx.blocks.tab:
    alternate_style: true
  pymdownx.snippets:
    base_path: ["docs/en", "examples"]
    url_download: true
    check_paths: true
  # Python Markdown Extensions
  attr_list: {}
  footnotes: {}
  smarty:  # Enables easy em and en dashes.
    smart_quotes: false
  toc:
    permalink: true
    title: On this page

plugins:
  search: {}
  autorefs:
      resolve_closest: true  # autorefs warns of the Usage headings being duplicates without this - we will have to assign unique ids to all of them otherwise
  literate-nav:
       nav_file: SUMMARY.md
  macros: {}
  mkdocstrings:
      enable_inventory: true
      default_handler: python
      handlers:
        python:
          paths: [android/src, core/src]
          inventories:
            - https://docs.python.org/3/objects.inv
            - https://pillow.readthedocs.io/en/stable/objects.inv
          options:
            preload_modules:
              - travertino
              - toga
            docstring_style: sphinx  # Parses docstrings from Sphinx formatting - the `:param` formatting, not parsing rST links
            allow_inspection: false  # True includes *more* dunder methods, can be enabled on individual class entries if you want them
            show_source: false  # Otherwise, source code is shown collapsed for all
            members_order: alphabetical  # Orders things based on the source code
            annotations_path: brief  # Keeps type annotation links more concise
            merge_init_into_class: true  # Otherwise, init is displayed separately
            separate_signature: true  # Shows the `function(args)` separately from name
            show_signature: true  # Displays () or (args) along with the function name in the signature
            show_signature_annotations: true  # Includes annotations in signature blocks
            signature_crossrefs: true  # Enables cross-referencing on signature annotations
            show_root_heading: true  # Show heading of object at root, otherwise nothing
            docstring_section_style: spacy  # Better info layout than the other options
            line_length: 80  # Requires ruff, forces longer signatures to be stacked
            show_symbol_type_toc: true  # Enables type symbols next to objects in ToC
            show_symbol_type_heading: true  # Enables type symbols next to object names in content
            show_attribute_values: false  # Suppresses the values of attributes in the signature
            heading_level: 3  # Heading level of 3 to nest under References heading
  exclude:
    # Files that shouldn't be in the sitemap
    glob:
      - snippets/*
      # Unfortunately, excluding the nav file from the sitemap prevents literate-nav
      # from working.
      # - SUMMARY.md
  redirects:
    redirect_maps:
      # These were never linked to, but they are in the sitemap for 0.5.3.
      reference/api/widgets/table-accessors.md: reference/api/widgets/table.md
      reference/api/widgets/table-values.md: reference/api/widgets/table.md
      reference/platforms/linux/gtk-prerequisites.md: reference/platforms/linux/index.md
      reference/platforms/linux/qt-prerequisites.md: reference/platforms/linux/index.md
      # SUMMARY.md: index.md

      # Contribution guide
      how-to/contribute/code.md: how-to/contribute/index.md
      how-to/contribute/docs.md: how-to/contribute/index.md

      reference/internals/architecture.md: topics/architecture.md

      ################
      # API
      ################

      reference/widgets_by_platform.md: reference/index.md

      # Application components
      reference/api/app.md: reference/api/application/app.md
      reference/api/window.md: reference/api/application/window.md
      reference/api/mainwindow.md: reference/api/application/mainwindow.md
      reference/api/documentwindow.md: reference/api/application/documentwindow.md
      reference/api/resources/command.md: reference/api/application/command.md
      reference/api/resources/dialogs.md: reference/api/application/dialogs.md
      reference/api/resources/statusicons.md: reference/api/application/status-icons.md

      # Style
      reference/style/pack.md: reference/api/style/pack.md

      # Data representation
      reference/api/constants.md: reference/api/data-representation/constants.md
      reference/api/resources/document.md: reference/api/data-representation/document.md
      reference/api/resources/app_paths.md: reference/api/data-representation/paths.md
      reference/api/resources/sources/source.md: reference/api/data-representation/source.md
      reference/api/resources/sources/list_source.md: reference/api/data-representation/listsource.md
      reference/api/resources/sources/tree_source.md: reference/api/data-representation/treesource.md
      reference/api/resources/sources/value_source.md: reference/api/data-representation/valuesource.md
      reference/api/types.md: reference/api/data-representation/types.md
      reference/api/resources/validators.md: reference/api/data-representation/validators.md

      # Resources
      reference/api/resources/fonts.md: reference/api/resources/font.md
      reference/api/resources/icons.md: reference/api/resources/icon.md
      reference/api/resources/images.md: reference/api/resources/image/index.md
      reference/plugins/image_formats.md: reference/api/resources/image/image-format-plugins.md

      # Hardware
      # hardware/camera.md unchanged
      reference/api/keys.md: reference/api/hardware/keys.md
      # hardware/location.md unchanged
      reference/api/hardware/screens.md: reference/api/hardware/screen.md

      ############################
      # 404s caught by readthedocs
      ############################

      reference/api/dialogs.md: reference/api/application/dialogs.md
      reference/api/widgets/file_dialog.md: reference/api/application/dialogs.md

      reference/api/widgets/base.md: reference/api/widgets/widget.md
      reference/widgets/button.md: reference/api/widgets/button.md
      reference/widgets/table.md: reference/api/widgets/table.md
      reference/api/widgets/box.md: reference/api/containers/box.md

      reference/style/index.md: reference/api/style/pack.md

      reference/api/icons.md: reference/api/resources/icon.md

      reference/constants.md: reference/api/data-representation/constants.md

      philosophy.md: about/philosophy.md
      background/internals.md: topics/architecture.md
      tutorial/03-packaging.md: tutorial/index.md  # This must've been from the BeeWare tutorial?
