[build-system]
requires = ["briefcase"]

[tool.briefcase]
project_name = "ImageView Demo"
bundle = "org.beeware"
version = "0.0.1"
url = "https://beeware.org"
license = "BSD license"
author = 'Tiberius Yak'
author_email = "tiberius@beeware.org"

[tool.briefcase.app.imageview]
formal_name = "ImageView Demo"
description = "A testing app"
sources = ['imageview']
requires = [
    '../../core',
    "Pillow",
]


[tool.briefcase.app.imageview.macOS]
requires = [
    '../../cocoa',
    'std-nslog>=1.0.0',
]

[tool.briefcase.app.imageview.linux]
requires = [
    '../../gtk',
]

[tool.briefcase.app.imageview.windows]
requires = [
    '../../winforms',
]

# Mobile deployments
[tool.briefcase.app.imageview.iOS]
requires = [
    '../../iOS',
    'std-nslog>=1.0.0',
]

[tool.briefcase.app.imageview.android]
requires = [
    '../../android',
]

# Web deployment
[tool.briefcase.app.imageview.web]
requires = [
    '../../web',
]
style_framework = "Shoelace v2.3"
