body {
    --color-beta: #c8c8c8;
    --color-beta-dark: #484848;
}
body[data-theme="dark"] {
    --color-beta: var(--color-beta-dark);
}
@media (prefers-color-scheme: dark) {
    body:not([data-theme="light"]) {
        --color-beta: var(--color-beta-dark);
    }
}

div.widget-descriptions td p,
div.widget-support td p {
    text-align: center;
}

div.widget-descriptions th:first-of-type p {
    text-align: left;
}

span.stable {
    font-weight: bold;
}

span.beta {
    font-weight: bold;
    color: var(--color-beta);
}
