name: CI
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  beefore:
    name: Pre-test checks
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        task:
        - flake8
        # - towncrier-check
        - docs
        - package
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v3.1.2
      with:
        python-version: "3.7"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools
        python -m pip install tox
    - name: Run pre-test checks
      run: |
        tox -e ${{ matrix.task }}

  smoke:
    name: Smoke test (3.7)
    needs:
    - beefore
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v3.1.2
      with:
        python-version: "3.7"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools
        python -m pip install --upgrade tox
    - name: Test
      run: |
        tox -e py
    - name: Check coverage
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./src/core/coverage.xml
        flags: unittests
        fail_ci_if_error: true

  python-versions:
    # Only run this and subsequent steps on branches.
    # `github.head_ref` only exists on pull requests.
    if: github.head_ref
    name: Python compatibility test
    needs: smoke
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11.0-alpha - 3.11.0"]
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3.1.2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools
        python -m pip install --upgrade tox
    - name: Test
      run: |
        tox -e py

  windows:
    name: Winforms backend tests
    needs: python-versions
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.9
      uses: actions/setup-python@v3.1.2
      with:
        # Py3.9 is the first Python version for which
        # a wheel of pythonnet isn't available on PyPI.
        python-version: "3.9"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools
        python -m pip install pytest-tldr
        python -m pip install -e src/core
        python -m pip install -e src/dummy
        python -m pip install -e src/winforms
    - name: Test
      run: |
        cd src/winforms
        TOGA_PLATFORM=winforms pytest -v
    - name: Core Test
      run: |
        cd src/core
        TOGA_PLATFORM=dummy pytest -v

  macOS:
    name: macOS backend tests
    needs: python-versions
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v3.1.2
      with:
        python-version: "3.7"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools
        python -m pip install pytest-tldr
        python -m pip install -e src/core
        python -m pip install -e src/dummy
        python -m pip install -e src/cocoa
    - name: Test
      run: |
        cd src/cocoa
        TOGA_PLATFORM=cocoa pytest -v

  iOS:
    name: iOS backend tests
    needs: python-versions
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v3.1.2
      with:
        python-version: "3.7"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools
        python -m pip install pytest-tldr
        python -m pip install -e src/core
        python -m pip install -e src/dummy
        python -m pip install -e src/iOS
    - name: Test
      run: |
        cd src/iOS
        TOGA_PLATFORM=iOS pytest -v

  gtk:
    name: GTK+ backend tests
    needs: python-versions
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v3.1.2
      with:
        python-version: "3.7"
    - name: Install dependencies
      run: |
        sudo apt-get update -y
        sudo apt-get install -y python3-gi python3-gi-cairo gir1.2-gtk-3.0 python3-dev libgirepository1.0-dev libcairo2-dev pkg-config
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools
        python -m pip install pytest-tldr
        python -m pip install -e src/core
        python -m pip install -e src/dummy
        python -m pip install -e src/gtk
    - name: Test
      run: |
        cd src/gtk
        TOGA_PLATFORM=gtk xvfb-run -a -s '-screen 0 2048x1536x24' pytest -v

  android:
    name: Android backend tests
    needs: python-versions
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v3.1.2
      with:
        python-version: "3.7"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools
        python -m pip install pytest-tldr
        python -m pip install -e src/core
        python -m pip install -e src/dummy
        python -m pip install -e src/android
    - name: Test
      run: |
        cd src/android
        TOGA_PLATFORM=android pytest -v

  web:
    name: Web backend tests
    needs: python-versions
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v3.1.2
      with:
        python-version: "3.7"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools
        python -m pip install pytest-tldr
        python -m pip install -e src/core
        python -m pip install -e src/dummy
        python -m pip install -e src/web
    - name: Test
      run: |
        cd src/web
        TOGA_PLATFORM=web pytest -v
