name: Upload Python Package

on:
  release:
    types: published

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      # This permission is required for trusted publishing.
      id-token: write
    strategy:
      # One element of this matrix failing should not terminate the others mid-run.
      # This prevents one bad platform from stalling the publication of others.
      fail-fast: false
      matrix:
        package:
        # As per PEP 503 normalization, these names should all be (a) lower case, and
        # (b) use underscores. See https://github.com/pypa/packaging.python.org/pull/1032
        - "toga"
        - "toga_android"
        - "toga_cocoa"
        - "toga_core"
        - "toga_demo"
        - "toga_dummy"
        - "toga_gtk"
        - "toga_qt"
        - "toga_positron"
        - "toga_textual"
        - "toga_ios"
        - "toga_web"
        - "toga_winforms"
        - "travertino"
    steps:
      - name: Get packages
        uses: dsaltares/fetch-gh-release-asset@1.1.2
        with:
          version: tags/${{ github.event.release.tag_name }}
          file: ${{ matrix.package }}-.*
          regex: true
          target: packages/

      - name: Extract ${{ matrix.package }}
        run: |
          mkdir dist
          mv packages/${{ matrix.package }}-[0-9]* dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
