name: Create Release

on:
  push:
    tags:
      - 'v*'

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  release:
    name: Create GitHub release
    needs: ci
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Set build variables
        run: |
          echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV
      - name: Get packages
        uses: actions/download-artifact@v3
        with:
          name: packages
          path: packages
      - uses: ncipollo/release-action@v1.11.1
        with:
          name: ${{ env.VERSION }}
          draft: true
          artifacts: "packages/*"
          artifactErrorsFailBuild: true

  deploy-test:
    needs: release
    strategy:
      matrix:
        package: ["toga", "toga_android", "toga_cocoa", "toga_core", "toga_demo",
                  "toga_dummy", "toga_gtk", "toga_iOS", "toga_web", "toga_winforms"]
    runs-on: ubuntu-latest
    steps:
      - name: Get packages
        uses: actions/download-artifact@v3
        with:
          name: packages
          path: packages
      - name: Extract ${{ matrix.package }}
        run: |
          mkdir dist
          mv packages/$(echo ${{ matrix.package }} | sed 's/_/?/')-[0-9]* dist
      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository_url: https://test.pypi.org/legacy/
          password: ${{ secrets[format('TEST_PYPI_PASSWORD_{0}', matrix.package)] }}
